$defBorde: 1px rgb(165, 163, 163) solid;
$defPadding: 10px;
$defFootColor:  rgb(61, 61, 80);


@import "sass-dos";

/***********************************/
/*********** CSS GENERAL ***********/
/***********************************/


*{
    margin: 0;
    padding: 0;
}

body {
    margin-bottom: 150px;
    color:rgb(0, 0, 0);
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

/* SE MODIFICA DEFINICIÓN PARA HACERLO CON UN FOR Y UNA OPERACIÓN ARITMETICA*/
    // h1,h2,h3,h4 { 
    //     font-family: 'Courier New', Courier, monospace;
    //     font-weight:bold;
    // }
    
    // h1{ font-size: 30px;}
    // h2{ font-size: 25px;}
    // h3{ font-size: 20px;}
    // h4{ font-size: 15px;}
    
/* SE MODIFICA DEFINICIÓN PARA HACERLO MEDIANTE UN MAP*/
    .button{
        background: map-get($buttonStile,backcolor);
        padding: map-get($buttonStile,paddingDef);
        border-style:map-get($buttonStile,styleBorder);
        border-radius: map-get($buttonStile,radiusBorder);
    }
}

/***********************************/
/***** CUSTOMIZACIÓN NAV BAR *******/
/***********************************/

.navbar{
    border-bottom: 3px double rgb(177, 174, 174);
    .logo{
        width: 90px;
    }
}

.navbar-expand-lg .navbar-nav .nav-link{
    padding: 20px 20px;
}

.navbar-collapse {
    justify-content: flex-end;
}

.navbar-nav {
    flex-direction: row;
    justify-content:flex-end;
}

@media (max-width:400px) {
    .navbar-expand-lg .navbar-nav .nav-link{
        padding: 20px 10px;
    }
} 

@media (min-width:768px) {
    .navbar-expand-lg .navbar-nav .nav-link{
        padding: 20px 30px;
    }
}

/***********************************/
/***** CUSTOMIZACIÓN CAROUSEL ******/
/***********************************/

.carousel-item .carousel-caption{
    color: rgb(0, 0, 0);
}

/***********************************/
/************ CSS FOOTER ***********/
/***********************************/

.ubicacion, .registroRapido{
    display: none;
}

.foot{
    background-color:rgb(223, 219, 219);    
    padding: $defPadding;
    section{
        font-size: 12px;

        h4,label,input{
            color: $defFootColor;
        }

        p{
            margin-bottom: 5px;
            color: $defFootColor
        }

        .socialMedia{
            margin-top: 15px;
            font-size: 25px;
            i{
                color: rgb(21, 22, 22);
            }
        }

        .icons{
            margin-top: 15px;
            img {
                //width:20px;
                //height: 20px;
                @include imgIconSize(40px); //USANDO MIXIN
            }
        }
    }
}
 
@media (min-width:600px) {
    .foot section{
        padding-left: 70px;
    }
}

@media (min-width:768px) {
    .ubicacion{
        display: inline;
    }

    .foot section{
        padding-left: 50px;
    }
}

@media (min-width:992px) {
    .foot{
        section{
            padding-left: 20px;
        }
        .registroRapido{
            display: inline;
            form{
                display: flex;
                align-items: flex-end;
                .entrada{
                    margin-bottom: 5px;
                    label{
                        margin-right: 10px;
                    } 
                }
            }
        }
    }
}

/***********************************/
/******* CSS MAIN INFO INDEX *******/
/***********************************/

/* DEFINICIÓN POR MIXIN*/
.central{
    // margin-top: 20px;
    // margin-bottom: 200px;
    // padding: $defPadding;
    @include centralStyle(20px,200px,$defPadding);
}

/* DEFINICIÓN POR EXTEND*/
.centralIndex{
    //margin-top: 20px;
    //padding: $defPadding;
    //margin-bottom: 200px;
    @extend .central;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: .1fr 7fr .1fr 2fr;
    grid-template-areas: 
        "title"
        "products"
        "title2"
        "tips"
    ;

    .productInfo{
        grid-area: products;
    }

    .tips{
        grid-area: tips;

        h3{
            display: none;
        }
    }

    section{
        margin-left: 10px;
        border: $defBorde;
        border-radius: 15px;
        padding: $defPadding;
    }
}

/***********************************/
/*** CSS INFO PRINCIPAL GENERAL ****/
/****** CSS CARDS PRIMER PARTE *****/
/***********************************/

.centralTitle{
    grid-area: title;
}

.centralTitle2{
    grid-area: title2;
}

.centralTitle, .centralTitle2{
    padding: 20px ;
    text-align: center;
}

.leftMenu{
    display: none;
}

.myCard{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    border-bottom: $defBorde;

    &:hover .imgCard{
        transform: scale(1.06);
        transition: all .5s;
    }

    .imgCard,h3,p,ul, .buttonCard{
        margin-bottom:20px ;
        color: rgb(0, 0, 0);
    }

    .imgCard{
        width: 50%;
        // border: $defBorde;
        // border-radius: 15px;
    }

    ul{
        display: none;
    }

    .buttonCard{
        text-align: center;
    }
}

.lastCard{
    border: none;
}


@media (min-width:600px) {
    .centralIndex{
        margin-bottom: 0;
        grid-template-columns: 2fr 1fr;
        grid-template-rows: .5fr 7fr;
        grid-template-areas:             
            "title title2"
            "products tips"
        ;
    }

    .myCard{
        flex-direction: row-reverse;
        justify-content: center;
        margin-bottom: 20px;

        .imgCard{
            width: 30%;
            margin-left: 20px;
            margin-right: 20px;
        }
    
        .textCard {
            width: 80%;
            padding: $defPadding;
        }
    }
}


@media (min-width:992px) {
    .centralTitle,.centralTitle2{
        display: none;
    }

    .centralIndex{    
        grid-template-columns: 1fr 5fr 2fr;
        grid-template-rows: 1fr;
        grid-template-areas:             
            "leftMenu products tips"
        ;
    }

    .centralIndex,.centralProducts{        
        padding: $defPadding;
    }

    .myCard {

        ul{
            display: inline;
            padding: 0;
            margin-right: 20px;

            li{
                margin-left: 30px;
            }
        }

    }

    .tips{
        h3{ display: inline;}
        p{
            font-style: italic;
            font-size: 12px;
            margin-top: 30px;
        }
    }

    .leftMenu{
        display: inline;
        grid-area: leftMenu;
        ul{
            list-style: none;
            padding-left: 0;
            a{
                display: block;
                padding: 15px 20px;
                text-decoration: none;
                color: rgb(0, 0, 0);
                :hover{
                    background-color: rgb(219, 217, 217);
                }
            }
        }
    }
    
}

/***********************************/
/*** CSS CARDS 2 & INFO PRODUCTOS **/
/***********************************/

//DEFINICIÓN POR EXTEND
.centralProducts{
    //margin-top: 20px;
    //margin-bottom: 200px;
    //padding: $defPadding;
    @extend .central;
}

.cardsContainer {
    padding: 15px;
    margin: 10px;
    border: $defBorde;
    border-radius: 15px;
}

@media (min-width:600px) {

    .centralProducts{
        margin-bottom: 0;
    }

    .cardsContainer{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        border: none;
        margin: 0;
        padding: 0;

        .myCard{
            flex-direction: column;
            width: 30%;
            border: $defBorde;
            border-radius: 15px;

            .imgCard{
                margin-top: 10px;
                width: 50%;
            }
        }
    }
}

@media (min-width:992px) {
    
    .centralProducts{
        padding: $defPadding;
        display: grid;
        grid-template-columns: 1fr 5fr;
        grid-template-rows: 1fr;
        grid-template-areas:             
            "leftMenu products"
        ;        
        section{
            border: $defBorde;
            padding-top: 15px;
            border-radius: 15px;
            margin-left: 15px;
        }

        .centralTitle{
            display: inline;
        }
    }   

}


/**************************************/
/* CSS MAIN INFO NOSOTROS & SERVICIOS */
/**************************************/

.centralInfo{
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .generalInfo{
        padding: $defPadding;
        border: 3px rgb(165, 163, 163) ;
        border-style:outset;
        width: 90%;
        justify-content: center;
        margin-bottom: 20px;
    }
}


/***********************************/
/***** CSS MAIN INFO REGISTRO ******/
/***********************************/
.infoRegistro{
    margin-top: 50px;
    padding: $defPadding;
    text-align: center;
    margin-bottom: 200px;

    .formsContainer{
        text-align: left;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 50px;
        
        .login{
            margin-top: 30px;
            border-bottom: $defBorde;
        }

        .registro{
            margin-top: 30px;
        }

        .entrada{
            margin-bottom: 10px;

            .infoBox{
                padding: 5px 10px;
                background-color: rgb(196, 190, 190);
            }
        }

        .checkLabel {
            margin-left: 10px;
        }

        .buttonCard{
            margin-top: 30px;
            margin-bottom: 30px;
            text-align: center;
        }

    }
}


@media (min-width:600px) {
    .infoRegistro{
        margin-bottom: 0;    
        .formsContainer{                
            flex-direction: row;
            justify-content: center;

            .entrada label{
                margin-right: 10px;
            }


            .login{
                border-bottom: none;
            }
        
            .registro{
                border-left: $defBorde;
            }

            .login,.registro{
                padding: 20px;
            }

        }
    }
}